<h1><!DOCTYPE html>
<html>
  <head>
    <title>index | Supreme Archive</title>
  </head>
  <body>
    <h1>Supreme Archive</h1>
    <p>
      This is the index page for the Supreme Archive.
    </p>
  </body>
</html>
