<h1><!DOCTYPE html>
<html>
  <head>
    <title>show | Supreme Archive</title>
  </head>
  <body>
    <h1>Show</h1>
    <p>
      This is the show page for the Supreme Archive.
    </p>
  </body>
</html>
