<nav class="navbar navbar-expand-md  navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/webst8-logo.png" alt="ロゴ"></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="#">ホーム</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          商品紹介
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">2019 fall/winter</a>
          <a class="dropdown-item" href="#">2019 spring/summer</a>
          <a class="dropdown-item" href="#">2018 fall/winter</a>
          <a class="dropdown-item" href="#">2018 spring/summer</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">お客様の声</a></li>
      <li class="nav-item"><a class="nav-link" href="#">ブログ</a></li>
      <li class="nav-item"><a class="nav-link" href="#">お問い合わせ</a></li>
    </ul>
  </div>

  <%= form_with(scope: :search, url: items_path, method: :get, local: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit('検索') %>
  <% end %>
</nav>

<h1><!DOCTYPE html>
<html>
  <head>
    <title>index | Supreme Archive</title>
  </head>
  <body>
    <h1>Supreme Archive</h1>
    <p>
      This is the index page for the Supreme Archive.
    </p>
  </body>
</html>
