/*
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "top";
@import "items";

.fixed-top h1 {
  font-size: 1.5rem;
}

.navbar h1 {
    display: inline-block;
    margin: 10px;
}

.top-right {
    //float: right;
}

.body-frame{
    padding-top: 130px
}

#sidebar {
  width: 180px;
  float: right;
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD

.body-frame {
    padding: 70px;
}
=======
>>>>>>> cd007f52c5243c8be93354716ef910f82a5ba2c5
