/*
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "top";
@import "items";

.navbar h1 {
    display: inline-block;
    margin: 10px;
}

.top-right {
    float: right;
}

.body-frame {
    padding: 70px;
}