// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.frame {
    width: 100%;
}

.link {
    display: block;
}

.image-group {
    width: 30%;
    float: left;
}
