// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.size_test img {
    width: 600px;  /* 横幅を200pxに */
    float:left;
}
.size_test p {
    font-size:  40px;    /* 文字サイズ指定 */
}

.group {
  display: inline-block;
}

.group img {
  height: 300px;
  width:300px;
}

.twitter-timeline {
  float: right;
}
