// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width:992px){


.top-frame h1 {
    text-align: center;
    padding-bottom: 20px;
    margin: 0px 0px 20px 0px;
    border-bottom: solid 3px #000000;
}

.body-frame {
    width: 90%;
    margin: 0px auto;
}

.image-group-frame {
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    height:auto;
    padding:10px;
}

.image-group1-if {
    width: 30%;
    float: left;
    margin: 15px 0px 15px 40px;
}

.image-group1-icon img {
    width: 350px;
}

.image-group-text {
    color: gray;
}

.image :hover {
    opacity: 0.6;
    transition: all 1s;
}
}

@media (max-width:767px){
  .image-group-frame {
      display:flex;
      flex-direction:column;
      width: 100%;
      height:auto;
      padding:10px;
  }

  .image-group1-if {
      width: 30%;
      margin: 15px 0px 15px 0px;
  }

  .image-group1-icon img {
      width: 250px;
  }
}

@media (min-width:768px) and (max-width:991px){
  .image-group-frame {
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      width: 100%;
      height:auto;
      padding:50px;
  }

  .image-group1-if {
      width: 50%;
      margin: 15px 15px 15px 15px;
  }

  .image-group1-icon img {
      width: 250px;
  }
}
